/*--------------
  RESET
--------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/ajeje.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.container {
    max-width: 50%;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: rgba(199, 198, 198, 0.5);
    border: 1px solid white;
    border-radius: 20px;    
}